@model IEnumerable<UYIOSA.Models.StudentDetails>

@{
    ViewBag.Title = "ViewRegisteredStudents";
    Layout = "~/Views/Shared/_SuperAdminPageLayout.cshtml";
}

<h2>Registered Students</h2>

@*
    <div>
        <form method="get">
            <input type="search" name="searchTerm" />
            <input type="submit" value="search By MAT NO" />
        </form>
    </div>
*@

@using (Ajax.BeginForm(
                                new AjaxOptions
                                {
                                    HttpMethod = "get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "studentList"
                                }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="search By SCHOOL NAME" />
}

<br />

<p> </p>

@Html.Partial("_manageStudentPartial", Model)

   